.name {
  color: #0290ff;
}

.booksLink {
  color: var(--black-two);
}

.cate {
  opacity: 0.5;
  color: var(--black-two);
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
}

.mask {
  background-color: #0290ff;
}
